.publications__container {
    grid-template-columns: repeat(2, 410px);
    justify-content: center;
    column-gap: 1.8rem;
}

.publications__content {
    position: relative;
    border: 1px solid var(--border-color);
    background-color: var(--container-color);
    padding: 2rem 1rem 2rem 1rem;
}

.publication__external-links {
    text-align: right;
}

.publication__link {
    color: var(--container-color);
    padding: 0.4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.publication__link-paper,
.publication__link-github {
    font-size: 1.5rem;
    color: var(--title-color);
    transition: 0.3s;
    margin-bottom: var(--mb-0-75);
}

.publication__link-paper:hover,
.publication__link-github:hover {
    color: var(--title-color-dark);
    transform: translateY(-0.25rem);
}

.publication__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
    font-weight: var(--font-medium);
}

.publication__authors,
.publication__publishing-information {
    display: block;
}

.publication__authors {
    margin-bottom: 0.5rem;
}

/* For large devices */
@media screen and (max-width: 992px) {
    .publications__container {
        grid-template-columns: repeat(2, 350px);
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .publications__container {
        grid-template-columns: 1fr;
    }

    .publications__content {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    .publication__link {
        padding: 0.25rem;
    }

    .publication__link-paper,
    .publication__link-github {
        font-size: 1rem;
        margin-bottom: var(--mb-0-25);
    }
}
  
@media screen and (max-width: 576px) {
    .publications__content {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
}
  
/* For small devices */
@media screen and (max-width: 350px) {
    .publication__title {
        font-size: var(--small-font-size);
    }

    .publication__authors,
    .publication__publishing-information {
        font-size: var(--smaller-font-size);
    }
}