.footer {
  background-color: var(--container-color);
  border-top: 1px solid var(--border-color);
}

.footer__container {
  padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
  color: var(--title-color);
}

.footer__title {
  text-align: center;
  margin-bottom: var(--mb-1);
}

.footer__quote {
  justify-content: center;
}

.footer__blockquote {
  margin: 10px 5px;
  padding: 15px;
}

.footer__blockquote-text {
  font-style: italic;
  font-size: 1.15em;
  line-height: 1.5;
  margin: 0;
}

.footer__quote-author {
  font-weight: bold;
  text-align: right;
}

.footer__link:hover {
  color: var(--title-color-dark);
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-1);
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  margin-top: 2.5rem;
}

.footer__social-link {
  background-color: var(--title-color);
  color: var(--container-color);
  font-size: 1.125rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: inline-flex;
}

.footer__social-link:hover {
  background-color: var(--title-color-dark);
}

.footer__copy {
  display: block;
  margin-top: 2.5rem;
  color: var(--title-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

/* For large devices */
@media screen and (max-width: 992px) {
  .footer__social-link {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .footer__blockquote-text {
    font-size: var(--small-font-size);
  }

  .footer__quote-author {
    font-size: var(--small-font-size);
  }
}

@media screen and (max-width: 350px) {
  .footer__blockquote-text {
    font-size: var(--tiny-font-size);
  }

  .footer__quote-author {
    font-size: var(--tiny-font-size);
  }
}
