.teaching__container {
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
    justify-content: center;
}

.teaching__card {
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    padding: 1.25rem;
    border-radius: 1rem;
}

.teaching__img {
    float: left;
    width: 295px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.teaching__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.teaching__button:hover {
    color: var(--title-color-dark);
    transform: translateY(-0.25rem);
}

/* For large devices */
@media screen and (max-width: 992px) {
    .teaching__container {
        gap: 1.25rem;
    }

    .teaching__card {
        padding: 1rem;
    }

    .teaching__img {
        margin-bottom: 0.75rem;
    }

    .teaching__title {
        margin-bottom: 0.25rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .teaching__container {
        grid-template-columns: max-content;
    }
}

@media screen and (max-width: 576px) {
    .teaching__container {
        grid-template-columns: 1fr;
    }

    .teaching__img {
        width: 100%;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
}